{% extends 'base.html' %}

{% load static %}
{% load catalog_cloudinary %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/item.css' %}">

    <div class="item">
      <!-- images -->
      <div class="images">
          {% if item %}
            <div class="main-images">
              {% for img in images %}
                <img src="{{ img.url|cld_item }}" loading="lazy" alt="Image {{ forloop.counter }}">          
              {% endfor %} 
            </div>
          {% endif %}
      </div> 
      <!-- product information -->
      <div class="information">
          <div class="text container">
              <div style="display: flex; flex-direction: column; border-bottom: 1px solid; justify-content: center;">
                  <!-- title and subtitle of the text. -->
                  <div class="section row">
                    <!-- item´s name -->
                      <div class="item_name">
                          {% if item.name %}
                          <h6 style="font-size: 1.5rem;">{{item.name}}</h6>
                          {% endif %}
                          <!-- staff-pickups name -->
                          {% if staff_item.name %}
                          <h6 style="font-size: 1.5rem;">{{staff_item.name}}</h6>
                          {% endif %}
                          <!-- new item name -->
                          {% if new_item.name %}
                          <h6 style="font-size: 1.5rem;">{{new_item.name}}</h6>
                          {% endif %}
                      </div>
                      <div class="item_size">
                        {% if item.size %}
                        <p>Size</p><h6>{{item.size}}</h6>
                        {% endif %}
                        <!-- staff-pickups name -->
                        {% if staff_item.size %}
                        <h6>{{staff_item.size}}</h6>
                        {% endif %}
                        <!-- new item name -->
                        {% if new_item.size %}
                        <h6>{{new_item.size}}</h6>
                        {% endif %}
                    </div>
                      <div class="item_description">
                          <!-- catalogue description -->
                          {% if item.description %}
                          <p>{{item.description}}</p>
                          {% endif %}
                          <!-- staff-pickups description -->
                          {% if staff_item.description %}
                          <p>{{staff_item.description}}</p>
                          {% endif %}
                          <!-- new item description -->
                          {% if new_item.description %}
                          <p>{{new_item.description}}</p>
                          {% endif %}                          
                      </div>
                  </div>
                  <!-- measurements information -->
                  <div class="measurements_information">
                    <div class="measurements row">

                      <div class="width" style="border-bottom: none; border-right: none;">
                        <p>Width</p>
                        <img
                          class="measure-info"
                          data-target="width"
                          src="{% static 'images/misc/information-logotype-in-a-circle.png' %}"
                          loading="lazy"
                          alt=""
                        >
                        <div class="measurements-img" data-img="width">
                          <img src="{% static 'images/misc/width.png' %}" loading="lazy" alt="">
                        </div>
                      </div>
                      <!-- catalogue items width -->
                      {% if item.width_in_cm %}
                        <p class="info" style="border-bottom: none;">{{ item.width_in_cm }} cm / {{ item.width }} in</p>
                      {% endif %}
                      <!-- staff-pickups items width -->
                      {% if staff_item.width_in_cm %}
                        <p class="info" style="border-bottom: none;">{{ staff_item.width_in_cm }} cm / {{ staff_item.width }} in</p>
                      {% endif %}

                      <div class="length" style="border-bottom: none; border-right: none;">
                        <p style="border-right: none; border-bottom: none;">Length</p>
                        <img
                          class="measure-info"
                          data-target="length"
                          src="{% static 'images/misc/information-logotype-in-a-circle.png' %}"
                          loading="lazy"
                          alt=""
                        >
                        <div class="measurements-img" data-img="length">
                          <img src="{% static 'images/misc/length.png' %}" loading="lazy" alt="">
                        </div>
                      </div>
                      <!-- catalogue items lenght -->
                      {% if item.length_in_cm %}
                        <p class="info" style="border-bottom: none;">{{ item.length_in_cm }} cm / {{ item.length }} in</p>
                      {% endif %}
                      <!-- staff-pickups items length -->
                      {% if staff_item.length_in_cm %}
                        <p class="info" style="border-bottom: none;">{{ staff_item.length_in_cm }} cm / {{ staff_item.length }} in</p>
                      {% endif %}

                      <div class="sleeve" style="border-right: none;">
                        <p style="border-right: none;">Sleeve</p>
                        <img
                          class="measure-info"
                          data-target="sleeve"
                          src="{% static 'images/misc/information-logotype-in-a-circle.png' %}"
                          loading="lazy"
                          alt=""
                        >
                        <div class="measurements-img" data-img="sleeve">
                          <img src="{% static 'images/misc/sleeve.png' %}" loading="lazy" alt="">
                        </div>
                      </div>
                      <!-- catalogue items sleeve lenght -->
                      {% if item.sleeve_in_cm %}
                        <p class="info">{{ item.sleeve_in_cm }} cm / {{ item.sleeve }} in</p>
                      {% endif %}
                      <!-- staff-pickups items sleeve lenght -->
                      {% if staff_item.sleeve_in_cm %}
                        <p class="info">{{ staff_item.sleeve_in_cm }} cm / {{ staff_item.sleeve }} in</p>
                      {% endif %}

                    </div>
                  </div>
              </div>
              <div style="display: flex; flex-direction: column; justify-content: center;">
                  <!-- disclaimer -->
                  <div class="disclaimer row">
                  <p>1. Vintage garments will include unique wear characteristics and sometimes subtle distressing. These are considered a feature, not a defect.</p>
                  <p>2. Each gament is chosen by our team in Mexico City.</p>
                  <p>3. All items have been laundered.</p>
                  <p>4. All sales are final. Due to the nature of vintage clothing, the tagged size might not display the correct size. We recommend checking the measurements shown above.</p>
                  <p>5. Images may not display the exact color of the garment in its entirety.</p>
                  </div>
                  <!-- add to cart -->
                  <div class="add-cart row">
                  <p><strong>Contact us via Instagram at @woe.betide for more information.</strong></p>
                  </div>
              </div>

              <div class="buy-buttons">
                {% if item.is_archive or item.is_sold %}
                <p class="mt-2" style="text-align: center;">SOLD OUT</p>
              
                {% elif item.shopify_variant_id %}
                  <button>
                    <a href="https://tyu50q-za.myshopify.com/cart/{{ item.shopify_variant_id }}:1" class="btn btn-buy">Buy Now</a>
                  </button>
                  <form method="post" action="{% url 'CartAdd' item.id %}">
                    {% csrf_token %}
                    <button class="btn btn-dark mt-2" data-item-id="{{ item.id }}" data-quantity="1" data-max-qty="1">
                      Add to Cart
                    </button>

                    <a href="{% url 'Cart' %}" class="view-cart-link" style="display:none; text-align:center; margin-top:8px;">
                      View cart
                    </a>
                  </form>

                {% else %}
                  <p class="coming-soon-text" style="text-align: center;">Coming Soon</p>
                {% endif %}  
              </div>
          </div>
      </div>
    </div>  
    
    <!-- CAROUSEL -->
    <div class="item-carousel">
      <!-- images -->
      <div class="images">
          {% if item %}
          <div class="main-images">
              <!-- first carousel -->
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for img in images %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ item.url|cld_item }}" loading="lazy" alt="Image 1">
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                </button>
              </div>
          </div>
          {% endif %}
          <div class="secondary-images">
              <!-- second carousel -->
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                      <!-- first image -->
                      {% if item.img3 %}
                        <div class="carousel-item active">
                          <img src="{{item.img3.url}}" class="d-block w-100" alt="..." style="border-bottom: none;">
                        </div>
                      {% endif %}
                      {% if staff_pickup.img3 %}
                      <div class="carousel-item active">
                        <img src="{{staff_pickup.img3.url}}" class="d-block w-100" alt="..." style="border-bottom: none;">
                      </div>
                    {% endif %}
                      <!-- second image -->
                      {% if item.img4 %}
                        <div class="carousel-item">
                          <img src="{{item.img4.url}}" class="d-block w-100" alt="..." style="border-bottom: none;">
                          </a>
                        </div>
                      {% endif %}
                      {% if staff_pickup.img4 %}
                      <div class="carousel-item active">
                        <img src="{{staff_pickup.img4.url}}" class="d-block w-100" alt="..." style="border-bottom: none;" >
                      </div>
                    {% endif %}
                      </div>
                  </div>
              <!-- third carousel -->
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                      <!-- first image -->
                      {% if item.img5 %}
                        <div class="carousel-item active">
                          <img src="{{item.img5.url}}" class="d-block w-100" alt="...">
                        </div>
                      {% endif %}
                      {% if staff_pickup.img5 %}
                      <div class="carousel-item active">
                        <img src="{{staff_pickup.img5.url}}" class="d-block w-100" alt="...">
                      </div>
                    {% endif %}
                      <!-- second image -->
                      {% if item.img6 %}
                        <div class="carousel-item">
                          <img src="{{item.img6.url}}" class="d-block w-100" alt="...">
                        </div>
                      {% endif %}
                      {% if staff_pickup.img6 %}
                      <div class="carousel-item active">
                        <img src="{{staff_pickup.img6.url}}" class="d-block w-100" alt="...">
                      </div>
                    {% endif %}
                      </div>
                  </div>
          </div>
      </div>
      <!-- product information -->
      <div class="information">
        <div class="text container">
            <div style="display: flex; flex-direction: column; border-bottom: 1px solid; justify-content: center;">
                <!-- title and subtitle of the text. -->
                <div class="section row">
                  <!-- item´s name -->
                    <div class="item_name">
                        {% if item.name %}
                        <h6>{{item.name}}</h6>
                        {% endif %}
                        <!-- staff-pickups name -->
                        {% if staff_item.name %}
                        <h6>{{staff_item.name}}</h6>
                        {% endif %}
                        <!-- new item name -->
                        {% if new_item.name %}
                        <h6>{{new_item.name}}</h6>
                        {% endif %}
                    </div>
                    <div class="item_description">
                        <!-- catalogue description -->
                        {% if item.description %}
                        <p>{{item.description}}</p>
                        {% endif %}
                        <!-- staff-pickups description -->
                        {% if staff_item.description %}
                        <p>{{staff_item.description}}</p>
                        {% endif %}
                        <!-- new item description -->
                        {% if new_item.description %}
                        <p>{{new_item.description}}</p>
                        {% endif %}                          
                    </div>
                </div>
                <!-- measurements information -->
                <div class="measurements_information">
                  <div class="measurements row">

                    <div class="width" style="border-bottom: none; border-right: none;">
                      <p>Width</p>
                      <img
                        class="measure-info"
                        data-target="width"
                        src="{% static 'images/misc/information-logotype-in-a-circle.png' %}"
                        loading="lazy"
                        alt=""
                      >
                      <div class="measurements-img" data-img="width">
                        <img src="{% static 'images/misc/width.png' %}" loading="lazy" alt="">
                      </div>
                    </div>
                    <!-- catalogue items width -->
                    {% if item.width_in_cm %}
                      <p class="info" style="border-bottom: none;">{{ item.width_in_cm }} cm / {{ item.width }} in</p>
                    {% endif %}
                    <!-- staff-pickups items width -->
                    {% if staff_item.width_in_cm %}
                      <p class="info" style="border-bottom: none;">{{ staff_item.width_in_cm }} cm / {{ staff_item.width }} in</p>
                    {% endif %}

                    <div class="length" style="border-bottom: none; border-right: none;">
                      <p style="border-right: none; border-bottom: none;">Length</p>
                      <img
                        class="measure-info"
                        data-target="length"
                        src="{% static 'images/misc/information-logotype-in-a-circle.png' %}"
                        loading="lazy"
                        alt=""
                      >
                      <div class="measurements-img" data-img="length">
                        <img src="{% static 'images/misc/length.png' %}" loading="lazy" alt="">
                      </div>
                    </div>
                    <!-- catalogue items lenght -->
                    {% if item.length_in_cm %}
                      <p class="info" style="border-bottom: none;">{{ item.length_in_cm }} cm / {{ item.length }} in</p>
                    {% endif %}
                    <!-- staff-pickups items length -->
                    {% if staff_item.length_in_cm %}
                      <p class="info" style="border-bottom: none;">{{ staff_item.length_in_cm }} cm / {{ staff_item.length }} in</p>
                    {% endif %}

                    <div class="sleeve" style="border-right: none;">
                      <p style="border-right: none;">Sleeve</p>
                      <img
                        class="measure-info"
                        data-target="sleeve"
                        src="{% static 'images/misc/information-logotype-in-a-circle.png' %}"
                        loading="lazy"
                        alt=""
                      >
                      <div class="measurements-img" data-img="sleeve">
                        <img src="{% static 'images/misc/sleeve.png' %}" loading="lazy" alt="">
                      </div>
                    </div>
                    <!-- catalogue items sleeve lenght -->
                    {% if item.sleeve_in_cm %}
                      <p class="info">{{ item.sleeve_in_cm }} cm / {{ item.sleeve }} in</p>
                    {% endif %}
                    <!-- staff-pickups items sleeve lenght -->
                    {% if staff_item.sleeve_in_cm %}
                      <p class="info">{{ staff_item.sleeve_in_cm }} cm / {{ staff_item.sleeve }} in</p>
                    {% endif %}

                  </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <!-- disclaimer -->
                <div class="disclaimer row">
                <p>1. Vintage garments will include unique wear characteristics and sometimes subtle distressing. These are considered a feature, not a defect.</p>
                <p>2. Each gament is chosen by our team in Mexico City.</p>
                <p>3. All items have been laundered.</p>
                <p>4. All sales are final. Due to the nature of vintage clothing, the tagged size might not display the correct size. We recommend checking the measurements shown above.</p>
                <p>5. Images may not display the exact color of the garment in its entirety.</p>
                </div>
                <!-- add to cart -->
                <div class="add-cart row">
                <p><strong>Contact us via Instagram at @woe.betide for more information.</strong></p>
                </div>
            </div>

            <div class="buy-buttons">
              {% if item.is_archive or item.is_sold %}
              <p class="mt-2" style="text-align: center;">SOLD OUT</p>
            
              {% elif item.shopify_variant_id %}
                <button>
                  <a href="https://tyu50q-za.myshopify.com/cart/{{ item.shopify_variant_id }}:1" class="btn btn-buy">Buy Now</a>
                </button>
                <form method="post" action="{% url 'CartAdd' item.id %}">
                  {% csrf_token %}
                  <button class="btn btn-dark mt-2">
                    Add to Cart
                  </button>
                </form>
              
              {% else %}
                <p class="coming-soon-text" style="text-align: center;">Coming Soon</p>
              {% endif %}  
            </div>
        </div>
      </div>
    </div>
    
    <!-- Zoomed-in image view -->
    <main class="image-selector" data-closable>
        <!-- zoomed carousel buttons -->
            <div class="zoomed-carousel-controls">
                <button class="zoomed-carousel-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev" onclick="prevImage()" style="background-color: black; border: none;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="zoomed-carousel-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next" onclick="nextImage()" style="background-color: black; border: none;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        <!-- image container with zoom capability -->
            <div class="image-container">
              <img class="photo" src="" alt="">
            </div>
        <!-- close button -->
            <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
    </main>

    <!-- Related items -->
    <div class="catalogue" id="catalogue">
        <!-- title -->
        <div class="item-a" style="grid-area: header; border-bottom: 1px solid;">
            <h4 style="text-align: start; margin-left: 10px; margin-top: 8px;">FOLLOWING GARMENTS</h4>
        </div>
        <!-- related items for catalogue -->
        <div class="elements">
            {% if related_items %}
                <div class="block container-xxxl">
                        {% for related_item in related_items %}
                            <div class="col" style="background-color: white; display: flex; flex-direction: column; padding: 0;">
                                <div class="element" >
                                    <div class="element-text">
                                        <!-- Item related-item image-->
                                        {% if related_item %}
                                        <a href="{% url 'Item' related_item.id %}" style="height:100%;">
                                          <picture>
                                              <source srcset="/media/catalogue/webp/{{ related_item.img1.name|cut:'catalogue/original'|cut:'.jpg'|cut:'.jpeg'|cut:'.png' }}.webp" type="image/webp">
                                              <img src="{{related_item.img1.url}}" loading="lazy" alt="">
                                          </picture>
                                          </a>
                                        {% endif %}                                     
                                    </div>
                                </div>
                                <div class="element-info">
                                    <div class="column" style="border-top: 1px solid; padding: 0;">
                                        <!-- Item related-item image-->
                                        {% if related_item %}
                                        <a href="{% url 'Item' related_item.id %}" class="lead"><strong>{{related_item.name}}</strong></a>
                                        {% endif %}
                                    </div> 
                                    <div class="column" style="border-top: 0; flex-direction: row; justify-content: space-between; padding: 0 10% 0 10%;">
                                        <!-- Item related-item size -->
                                        {% if related_item %}
                                        <a href="{% url 'Item' related_item.id %}" class="lead"><strong>Size: {{related_item.size}}</strong></a>
                                        {% endif %}
                                        <!-- Item related-item price -->                                      
                                        {% if related_item %}
                                        <a href="{% url 'Item' related_item.id %}" class="lead"><strong>${{related_item.price}} MXN</strong></a>
                                        {% endif %}                                      
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            {% endif %}
        <!-- related items for staff-picks -->
            {% if related_staff_items %}
                <div class="block container-xxxl">
                        {% for related_staff_item in related_staff_items %}
                            <div class="col" style="background-color: white; display: flex; flex-direction: column; padding: 0;">
                                <div class="element">
                                    <div class="element-text">
                                        <!-- ItemStaff related-item image -->
                                        {% if related_staff_item %}
                                        <picture>
                                          <source srcset="/media/catalogue/webp/{{ related_staff_item.img1.name|cut:'catalogue/original'|cut:'.jpg'|cut:'.jpeg'|cut:'.png' }}.webp" type="image/webp">
                                          <img src="{{related_staff_item.img1.url}}" loading="lazy" alt="">
                                        </picture>
                                        {% endif %}                                        
                                    </div>
                                </div>
                                <div class="element-info">
                                    <div class="column" style="border-top: 1px solid; padding: 0;">
                                        <!-- ItemStaff related-item name -->
                                        {% if related_staff_item %}
                                        <a href="{% url 'StaffItem' related_staff_item.id %}" class="lead"><strong>{{related_staff_item.name}}</strong></a>
                                        {% endif %}
                                    </div> 
                                    <div class="column" style="border-top: 0; flex-direction: row; justify-content: space-between; padding: 0 10% 0 10%;">
                                        <!-- ItemStaff related-item size -->
                                        {% if related_staff_item %}
                                        <a href="{% url 'StaffItem' related_staff_item.id %}" class="lead"><strong>Size: {{related_staff_item.size}}</strong></a>
                                        {% endif %}
                                        <!-- ItemStaff related-item price -->  
                                        {% if related_staff_item %}
                                        <a href="{% url 'StaffItem' related_staff_item.id %}" class="lead"><strong>${{related_staff_item.price}} MXN</strong></a>
                                        {% endif %}                                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
      
{% endblock %}















